<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">FOOD PREDICTION</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- name -->
                            <h5 class="card-title">name</h5>
                            <select name="diet" id="name" required="required">
                                <option value="vegetarian">vegetarian</option>
                                <option value="non_vegetarian">non_vegetarian</option>
                            </select>
                        </div>
                    </div>
                </div>
                 <input type="text" name="prep_time"  placeholder='prep_time(min)'><br>
                <input type="text" name="cook_time"  placeholder='cook_time(min)'><br>


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">flavor_profile</h5>
                            <!-- Total Stops -->
                            <select name="flavor_profile" required="required">
                                <option value="sweet">sweet</option>
                                <option value="spicy">spicy</option>
                                <option value="bitter">bitter</option>
                                <option value="sour">sour</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Which course?</h5>
                            <!-- course -->
                            <select name="course" id="course" required="required">
                                <option value="main_course">main_course</option>
                                <option value="dessert">dessert</option>
                                <option value="snack">snack</option>
                                <option value="starter">starter</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Which region?</h5>
                            <!-- region -->
                            <select name="region" id="region" required="required">
                                <option value="West">West</option>
                                <option value="South">South</option>
                                <option value="North">North</option>
                                <option value="East">East</option>
                                <option value="North_East">North_East</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <br>
            <br>
            <br>
            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        <p>©2020 Sasi Kiran</p>

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>